<section>
    <div class="product">
        <div class="product__image">
            <img src="../assets/{{ product.imagePath }}" alt="hi">
        </div>
        <div class="product__info">
            <p>{{ product.id }}</p>
            <h1 class="product__name">{{ product.name }}</h1>
            <p class="product__price">Price : {{ product.price }} €</p>
            <p class="product__quantity">Quantity : {{ product.quantity ? product.quantity : "Plus en réserve" }}
            </p>
            <button class="product__button">Add to Cart</button>
        </div>
    </div>
    <!-- <button class="product__button" (click)="addToCart(product)">Add to Cart</button> -->
</section>
<section>
    <div id="reviews" *ngFor="let current of reviewsFormatted">
        <h2>Reviews</h2>
        <p>{{ current.user.firstname }}</p>
        <p>{{ current.user.lastname }}</p>
        <p>{{ current.user.pseudo }}</p>
        <h3>{{ current.review.title }}</h3>
        <p>{{ current.review.rate }}</p>
        <p>{{ current.review.description }}</p>
    </div>
</section>