<main>
    <h2>Add Product</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="POST" enctype="multipart/form-data">

        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name">

        <label for="price">Price</label>
        <input type="number" id="price" formControlName="price">

        <label for="quantity">Quantity</label>
        <input type="number" id="quantity" formControlName="quantity">

        <label for="categoryId">Category</label>
        <select name="categoryId" id="categoryId" formControlName="categoryId">
            <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.categoryName }}</option>
        </select>

        <label for="imageData">Image</label>
        <input type="file" (change)="onFileSelected($event)">

        <button href="/games-admin" type="submit">Submit</button>
    </form>
</main>