table {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    border: 1px solid var(--var-grey);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 0 10% 0;
    th,
    td {
        border: 1px solid var(--var-grey);
    }
}

thead {
    text-align: left;
    tr {
        th {
            font-size: 1.2em;
            font-family: "Poppins", sans-serif;
            background-color: var(--var-grey);
            border: 1px solid var(--var-black);
            color: var(--var-black);
            font-weight: 700;
            padding: 20px 10px;
        }
    }
}

tbody {
    tr {
        td {
            padding: 10px;
        }
    }
}

h2{
    margin-top: 10%;
}