<main>
    <section>
        <h1>Register</h1>

        <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()" method="POST">
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Your Password">
            </div>
            <div class="form-group">
                <label for="pseudo">Pseudo</label>
                <input type="text" formControlName="pseudo" class="form-control" id="pseudo" placeholder="Pseudo">
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" formControlName="lastname" class="form-control" id="lastname" placeholder="Lastname">
            </div>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                <input type="text" formControlName="firstname" class="form-control" id="firstname" placeholder="Firstname">
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input type="date" formControlName="birthdate" class="form-control" id="birthdate" placeholder="Birthdate">
            </div>
            <button style="width:105%;margin-top: 5%;" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
</main>