div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    color: var(--var-white);
    a {
        border: 1px solid var(--var-grey);
        padding: 10px 30px;
        color: var(--var-primary);
        background-color: transparent;
        border: 1px solid var(--var-primary);
        transition: var(--cubic-bezier) 0.3s;
        &:hover {
            background-color: var(--var-primary);
            color: var(--var-black);
        }
    }
}
