.pannel__games_admin{
    margin: 4vw;
    font-family: sans-serif;
}
section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1%;
}

.product__card{
    .product__name{
        display: none;
    }
    .product__image{
        width: 100%;
        height: 30vh;
        border-radius: 20px;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;    
        }
    }
    &:hover{
        transform: scale(1.02);
        transition: 1s;
        .product__image{
            filter: grayscale(0.8) brightness(0.8) blur(1.4px);
            transition: 2s;
        }
        .product__name{
            display: block;
            font-size: 1.6rem;
            font-weight: 400;
            color: white;
            animation: 600ms forwards fadeIn;
            text-shadow: 0px 0px 1px white,
            0px 0px 1px white,
            0px 0px 2px black,
            0px 0px 4px black;
        }
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        margin: 0 0 0 1vw ;
    }
    to {
        opacity: 1;
        margin: -2vw 0 0 1vw ;
    }
}


