<main>
    <h2>Edit Product</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" method="POST">

        <label for="lastname">Lastname</label>
        <input type="text" id="lastname" formControlName="lastname">

        <label for="firstname">Firstname</label>
        <input type="text" id="firstname" formControlName="firstname">

        <label for="pseudo">Pseudo</label>
        <input type="text" id="pseudo" formControlName="pseudo">

        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" readonly>

        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" formControlName="birthdate" readonly>

        <label for="money">Money</label>
        <input type="number" id="money" formControlName="money" readonly>

        <input type="text" name="id" id="id" formControlName="id" hidden>

        <button href="/games-admin" type="submit">Envoyer</button>
    </form>
</main>