section{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2%;
}

.product__card{
    border-radius: 20px;
    margin-bottom: 10%;
    .product__name{
        display: none;
        margin: -2vw 0 0 1vw ;
    }
    .product__image{
        width: 100%;
        height: 30vh;
        border-radius: 20px;
        box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 1;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;    
        }
    }
    &:hover{
        animation: 1s forwards boxShadowFade;
        transform: scale(1.02);
        transition: .1s;
        .product__image{
            border: 2px solid var(--var-primary);
            
            filter: grayscale(.2) brightness(.6) blur(1.4px);
            transition: .6s;
        }
        .product__name{
            margin: -2vw 0 0 1vw ;
            display: block;
            font-size: 1.8rem;
            color: white;
            animation: 600ms forwards nameFadeIn;
            text-shadow: 0px 0px 1px white,
            0px 0px 1px white,
            0px 0px 2px black,
            0px 0px 4px black;
        }
    }

}

@keyframes boxShadowFade {
    from {
        box-shadow: 0 0 1px var(--var-primary);
    }
    to {
        box-shadow: 0 0 20px var(--var-primary);
    }
}




@keyframes nameFadeIn {
    from {
        opacity: 0;
        margin: -4vw 0 0 1vw ;
        text-shadow: 0px 0px 0px var(--var-black);
    }
    to {
        opacity: 1;
        margin: -5vw 0 0 1vw ;
        text-shadow: 0px 0px 10px var(--var-black);
    }
}


