<section *NgFor="let product of products">
    <a routerLink="/Product/:id" >
        <div class="card-bento">
            <div class="card-bento__header">
                <img src="" alt="">
            </div>
            <div class="card-bento__content">
                <app-card></app-card>
            </div>
        </div>
    </a>
    <div class="card-bento">
        <div class="card-bento__header">
            <img src="" alt="">
        </div>
        <div class="card-bento__content">
            <app-card></app-card>
        </div>
    </div>
    <div class="card-bento">
        <div class="card-bento__header">
            <img src="" alt="">
        </div>
        <div class="card-bento__content">
            <app-card></app-card>
        </div>
    </div>
    <div class="card-bento">
        <div class="card-bento__header">
            <img src="" alt="">
        </div>
        <div class="card-bento__content">
            <app-card></app-card>
        </div>
    </div>
</section>