header{
    padding: 1vw 4vw;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    menu{
        display: flex;
        gap: 20px;
        list-style-type: none;
    }
    a{
        color: #000;
        text-decoration: none;
        &:hover{
            color: #2463a7;
            font-weight: 500;
            cursor: pointer;
        }
    }
}