header{
    position: sticky;
    top: 4%;
    z-index: 100;
    margin: 2% 0;
    padding: 1vw 4vw;
    background-color: #363636e6;
    border-radius: 10px;
    border: 1px solid #525252;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    menu{
        display: flex;
        gap: 20px;
        list-style-type: none;
    }
    a{
        color: var(--var-grey);
        text-decoration: none;
        &:hover{
            color: var(--var-primary);
            font-weight: 500;
            cursor: pointer;
        }
        &:focus{
            color: var(--var-primary);
            font-weight: 500;
        }
    }
}