<header>
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Pixel</a>
    <input type="text" placeholder="Search...">
    <menu>
        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
        <li><a routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page" id="categories">Categories</a></li>
        <li><a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" id="register">Register</a></li>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" id="login">Login</a></li>
    </menu>
</header>