<main>
    <div *ngFor="let product of products">
        <div class="container_product">
            <div class="container_image">
                <img src="../../assets/{{ product.imagePath }}">
            </div>
            <div>
                <p>{{ product.name }}</p>
                <p>{{ product.price }} €</p>
            </div>
            <a (click)="deleteProduct(product.id)">&Cross;</a>
        </div>
    </div>
    <div>
        <p>Vous avez <span>{{ user.money }}</span> crédits.</p>
        <button id="purchase-btn" (click)="purchase()">Procéder aux paiements</button>
    </div>
</main>