<!-- <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="userForm.get('email').invalid && userForm.get('email').touched">
        <div *ngIf="userForm.get('email').errors.required">Email is required.</div>
        <div *ngIf="userForm.get('email').errors.email">Invalid email format.</div>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="userForm.get('password').invalid && userForm.get('password').touched">
        <div *ngIf="userForm.get('password').errors.required">Password is required.</div>
        <div *ngIf="userForm.get('password').errors.minlength">Password must be at least 6 characters long.</div>
      </div>
    </div>
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
   -->