@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

// Colors
:root {
    --var-black: #0e0e0e;
    --var-black-ease: #272727;
    --var-grey: #d4d4d4;
    --var-white: #ffffff;
    --var-primary: #3ef19d;

    --edit: #1000f5;
    --edit-hover: #6c63ee;

    --delete: #f50000;
    --delete-hover: #fd757c;

    --add: #00ca00;
    --add-hover: #63d463;

    --cubic-bezier: cubic-bezier(0.47, 0, 0.75, 0.72);
}

// General CSS
body {
    font-family: "Poppins", sans-serif !important;
    background-color: var(--var-black);
    color: var(--var-white);
    padding: 0;
    a {
        text-decoration: none;
    }
}

main {
    margin: 0 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

button {
    padding: 10px 60px;
    color: var(--var-primary);
    background-color: transparent;
    border: 1px solid var(--var-primary);
    transition: var(--cubic-bezier) 0.3s;
    &:hover {
        background-color: var(--var-primary);
        color: var(--var-black);
    }
}

// Tables
table {
    background-color: #2b2b2b;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.1);
    border-collapse: collapse;
    border: 1px solid var(--var-grey);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 0 10% 0;
    th,
    td {
        border: 1px solid var(--var-grey);
    }
}

thead {
    text-align: left;
    tr {
        th {
            font-size: 1.2em;
            font-family: "Poppins", sans-serif;
            background-color: var(--var-grey);
            border: 1px solid var(--var-black);
            color: var(--var-black);
            font-weight: 700;
            padding: 20px 10px;
        }
    }
}

tbody {
    tr {
        td {
            padding: 10px;
        }
    }
}

// Forms
form {
    margin: 0 0 10vh 0;
    select {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: var(--var-grey);
        color: var(--var-black);
        border-radius: 5px;
    }
    margin-top: 10%;
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: var(--var-grey);
        color: var(--var-black);
        border-radius: 5px;
    }

    input[type="file"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        background-color: var(--var-grey);
        color: var(--var-black);
        border-radius: 5px;
    }
    input[type="submit"] {
        background-color: var(--var-primary);
        color: var(--var-black);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            background-color: var(--var-black);
            color: var(--var-primary);
        }
    }
}

// Buttons
button {
    border-radius: 10px;
    transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--var-black);
    color: var(--var-white);
    font-size: 1.2rem;
    color: var(--var-grey);
    border: 1px solid var(--var-grey);
    &:hover {
        transform: matrix3d(1.05, 0, 0, 0, 0, 1.05, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-radius: 40px;
        background-color: #1b1b1b;
        color: var(--var-primary);
        border: 1px solid var(--var-primary);
        box-shadow: 0px 0px 5px var(--var-white);
    }
}

.add__btn {
    position: fixed;
    top: 160px;
    right: 50px;
    z-index: 1000;
    background-color: var(--add);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: var(--add-hover);
    }
}
.add__btn_category {
    position: fixed;
    top: 160px;
    right: 200px;
    z-index: 1000;
    background-color: var(--add);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: var(--add-hover);
    }
}
.edit__btn {
    margin-right: 20px;
    background-color: var(--edit);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: var(--edit-hover);
    }
}
.delete__btn {
    background-color: var(--delete);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        background-color: var(--delete-hover);
    }
}

@keyframes hoverBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
