<footer>
    <div class="footer_logo">
        <h4>Pixel</h4>
    </div>

    <div class="footer_links">
        <h4>Links</h4>
        <menu>
            <li tabIndex="1"><a routerLink="/" routerLinkActive="active-link" ariaCurrentWhenActive="page">Home</a></li>
            <li tabIndex="1"><a routerLink="/register" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="register">Register</a></li>
            <li tabIndex="1"><a routerLink="/login" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="login">Login</a></li>
            <li tabIndex="1"><a routerLink="/dashboard" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="Dashboard">Dashboard</a></li>
            <li tabIndex="1"><a routerLink="/gamesAdmin" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="gamesAdmin">gamesAdmin</a></li>
            <li tabIndex="1"><a routerLink="/membersAdmin" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="members">members</a></li>
            <li tabIndex="1"><a routerLink="/shopping-cart" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="shopping-cart">shopping cart</a></li>
            <!-- Change Route for Profiles -->
            <li tabIndex="1"><a routerLink="/my-profile/1" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="my-profile">my-profile</a></li>
            <li tabIndex="1"><a routerLink="/user-profile/1" routerLinkActive="active-link" ariaCurrentWhenActive="page"
                    id="user-profile">user-profile</a></li>
        </menu>
    </div>
    <div class="footer_contact">
        <h4>Contact Us</h4>
        <p>1234 Pixel St.</p>
        <p>Pixel, Pixel 12345</p>
        <p>Phone: 123-456-7890</p>
        <p>Email: pixel&#64;contact.fr</p>
    </div>
</footer>