<main>
    <h1>List of members</h1>
<table>
    <thead>
        <tr>
            <th>Member ID</th>
            <th>Lastname Firstname</th>
            <th>Pseudo</th>
            <th>Email</th>
            <th>Birthdate</th>
            <th>Money</th>
            <th>Sales</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of usersFormatted">
            <td> {{ u.user.id }} </td>
            <td> {{ u.user.lastname }} {{ u.user.firstname }} </td>
            <td> {{ u.user.pseudo }} </td>
            <td> {{ u.user.email }} </td>
            <td> {{ u.user.birthdate }} </td>
            <td> {{ u.user.money }} </td>
            <td>
                <div *ngFor="let sale of u.sales">
                    <a style="color: green" routerLink="/sale/{{ sale.value.id }}">Voir l'achat de <strong>{{ sale.product.name }}</strong></a>
                </div>
            </td>
            <td> 
                <a routerLink="/edit-member/{{ u.user.id }}" class="edit__btn">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
</main>