<h2>Informations about members</h2>
<table>
    <thead>
        <tr>
            <th>Number of members</th>
            <th>Number of sales</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>⚠️ Insert dynamic Data about members here ⚠️</td>
            <td>⚠️ Insert dynamic Data about sales here ⚠️</td>
        </tr>
    </tbody>
</table>

<h2>Last 7 days</h2>
<table>
    <thead>
        <tr>
            <th>Number of news sales last 7 days</th>
            <th>Revenues this last 7 days</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>⚠️ Insert dynamic Data about new sales last 7 days ⚠️</td>
            <td>⚠️ Insert dynamic Data about revenue this last 7 days ⚠️</td>
        </tr>
    </tbody>
</table>

<h2>Global</h2>
<table>
    <thead>
        <tr>
            <th>Total Revenues</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>⚠️ Insert dynamic Data about total revenue ⚠️</td>
        </tr>
    </tbody>
</table>