<main>
    <section>
        <h1>Login as Administrator</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" method="POST">
            <div class="form-group">
                <label for="email" hidden>Email or Pseudo</label>
                <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email or Pseudo">
            </div>
            <div class="form-group">
                <label for="password" hidden>Password</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </section>
</main>
