<div class="head">
    <a routerLink="/" class="logo">
        <img src="../../assets/TravelAgency.png">
    </a>

    <div class="searchbar">
        <input
        type="text" name="searchbar" 
        id="searchbar" class="input_searchbar"
        placeholder="Rechercher">
    </div>
    
    
    <a routerLink="/database" id="login-link">
        <div class="database-button">
            Database
        </div>
    </a>
    <a routerLink="/user" id="user-link">
        <div class="user-button">
            User Profile
        </div>
    </a>
</div>