<header>
    <a tabIndex="0" routerLink="/" routerLinkActive="active-link" ariaCurrentWhenActive="page">Pixel</a>
    <input tabIndex="1" type="text" placeholder="Search...">
    <menu>
        <li tabIndex="1"><a routerLink="/" routerLinkActive="active-link" ariaCurrentWhenActive="page">Home</a></li>
        <li tabIndex="1"><a routerLink="/register" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="register">Register</a></li>
        <li tabIndex="1"><a routerLink="/login" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="login">Login</a></li>
        <li tabIndex="1"><a routerLink="/dashboard" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="Dashboard">Dashboard</a></li>
        <li tabIndex="1"><a routerLink="/gamesAdmin" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="gamesAdmin">gamesAdmin</a></li>
        <li tabIndex="1"><a routerLink="/membersAdmin" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="members">members</a></li>
        <li tabIndex="1"><a routerLink="/shopping-cart" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="shopping-cart">shopping cart</a></li>
        <!-- Change Route for Profiles -->
        <li tabIndex="1"><a routerLink="/my-profile/1" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="my-profile">my-profile</a></li>
        <li tabIndex="1"><a routerLink="/user-profile/1" routerLinkActive="active-link" ariaCurrentWhenActive="page" id="user-profile">user-profile</a></li>
    </menu>
</header>